<div class="comments-user-container" id="c1">
        
        <p class="coment-display">{{comment}}</p> 
        <p class="user-display">{{User.username}}</p> 
        {{!-- <img class='delete" src="delete_icon.png" alt="trash can"> --}}
        
</div>