<link rel="stylesheet" href="/homepage.css"> 
<h1 id="page-title">EXPLORE BY REGION</h1>

<div id="map-container">
    <img src="map1.webp" alt="world map" class="map-image">

    <a id="login_registerLink" href="/region/africa"><button class="region-btn" id="africa">Congo</button></a>
</div>
