<link rel="stylesheet" href="/homepage.css"> 
<h1 id="page-title">EXPLORE BY REGION</h1>

<div id="map-container">
    <img src="map1.webp" alt="world map" class="map-image">

    <button class="region-btn" id="africa"><a href="/africa">AFRICA</a></button>
    <button class="region-btn" id="central"><a href="/central">CENTRAL AMERICA</a></button>
    <button class="region-btn" id="south-america"><a href="/southamerica">SOUTH AMERICA</a></button>
    <button class="region-btn" id="asia"><a href="/asia">ASIA</a></button>
    <button class="region-btn" id="guinea"><a href="/guinea">PAPA NEW GUINEA</a></button>
    <button class="region-btn" id="se-asia"><a href="/seasia">SOUTHEAST ASIA</a></button>
</div>
