<div class="loginFormWrapper">
  <form id="login_form">
    <input
      type="text"
      maxlength="64"
      id="login_usernameInput"
      placeholder="Username / Email"
    />
    <input
      type="password"
      maxlength="64"
      id="login_passwordInput"
      placeholder="Password"
    />
    <button type="submit" id="login_submitBtn">Submit</button>
  </form>
</div>

<script src="login.js"></script>