<link rel="stylesheet" href="/region.css">
<div id="region-container">
    <div id="region-info">
        <h1>Region</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae facere quia dolore tempore, asperiores
            provident eligendi aliquam quaerat quo reiciendis debitis perferendis excepturi possimus quos itaque dolor
            sit! Possimus, ullam.</p>
    </div>
    <div id="select-container">
        <ul>
            <li class="select-li">Buterfly 1<img class="select-img" src="/african moth4.jpeg"></li>
            <li class="select-li">Buterfly 1<img class="select-img" src="/african moth4.jpeg"></li>
        </ul>
    </div>
</div>
