{
  "trailingComma": "es5",
  "tabWidth": 2,
  "printWidth": 80,
  "semi": true,
  "singleQuote": false,
  "parser": "typescript",
  "overrides": [
    {
      "files": ["*.handlebars", "**/*.handlebars", "**/**/*.handlebars"],
      "options": {
        "parser": "html"
      }
    }
  ]
}
