<link rel="stylesheet" href="butterfly.css" />
<h1 id="page-title">{{butterfly.name}}</h1>
<div class="pic-and-des">
  <div class="left-panel">
    <img class="tile-img" src="african moon4.jpeg" alt="morpho" />
    <img class="tile-img2" src="african moon2.jpeg" alt="morpho" />
    <img class="tile-img3" src="african moon3.jpeg" alt="morpho" />
    <input id="comment" type="text" placeholder="Comment" />
  </div>

  <div class="mid-panel">
    <p>fhjiewgubcuiewb jdsgcudw</p>
  </div>

  <div class="right-panel">
    <h3 class="h3-title">FOUND IN</h3>
    <p>Africa</p>
    <br />
    <br />
    <h3 class="h3-title">FACT</h3>
    <p></p>
  </div>
</div>
<br />
<br />
<footer class="bottom"></footer>
