<!DOCTYPE html>
<html lang="en">
  <head>
    {{> head title="Winging It Around The World"}} 

    <link rel="stylesheet" href="description.css" />
  </head>
  <body>
    <header>{{> navbar}}</header>
    <main>
      {{> butterfly}} 
    </main>
  </body>
</html>
