
      <h1>Blue Morpho</h1>
      <div class="pic-and-des">
        <div class="left-panel">
          <!-- Content for the left panel goes here -->

          <img src="./public/images/blue morpho3.jpeg" alt="morpho" />
        </div>

        <div class="right-panel">
          <!-- Content for the right panel goes here -->
          <p>
            As its common name implies, the blue morpho butterfly’s wings are bright blue, edged with black.
            The blue morpho is among the largest butterflies in the world, with wings spanning from five to
            eight inches. Their vivid, iridescent blue coloring is a result of the microscopic scales on the
            backs of their wings, which reflect light. The underside of the morpho’s wings, on the other hand,
            is a dull brown color with many eyespots, providing camouflage against predators such as birds and
            insects when its wings are closed. When the blue morpho flies, the contrasting bright blue and
            dull brown colors flash, making it look like the morpho is appearing and disappearing. The males’
            wings are broader than those of the females and appear to be brighter in color. Blue morphos, like
            other butterflies, also have two clubbed antennas, two fore wings and two hind wings, six legs and
            three body segments—the head, thorax and abdomen.
          </p>
        </div>
      </div>
