<!DOCTYPE html>
<html lang="en">
<head>
    {{> head}}
    {{!-- <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="logo.ico" type="image/x-icon" />
    <title>Winging It Around The World</title> --}}
    <link rel="stylesheet" href="description.css">
</head>
<body>
    
    <header>
        {{> navbar}}
    </header>
        {{!-- <header class="site-header stuck contained">
            <div class="site-header-inner">
                <div class="site-logo">
                    <a href="https://thanksgivingpoint.org">
                        <img src="https://thanksgivingpoint.org/app/uploads/2021/10/logo-mobile.svg" alt="Thanksgiving Point" class="md-down mobile-logo">
                    </a>
                </div>
                <nav class="nav border">
                    <h2 id="home" class="menu">Home</h2>
                    <h2 id="login" class="menu">Login</h2>
                </nav>
            </div>
            
        </header> --}}
        <main> 
            {{> butterfly}}
            {{!-- <h1>Blue Morpho</h1>
            <div class="pic-and-des">
            <div class="left-panel">
            <!-- Content for the left panel goes here -->
            
            <img src="./public/images/blue morpho3.jpeg" alt="morpho">
            </div>

        <div class="right-panel">
            <!-- Content for the right panel goes here -->
            <p>As its common name implies, the blue morpho butterfly’s wings are bright blue, edged with black.
                The blue morpho is among the largest butterflies in the world, with wings spanning from five to 
                eight inches. Their vivid, iridescent blue coloring is a result of the microscopic scales on 
                the backs of their wings, which reflect light. The underside of the morpho’s wings, on the 
                other hand, is a dull brown color with many eyespots, providing camouflage against predators 
                such as birds and insects when its wings are closed. When the blue morpho flies, the 
                contrasting bright blue and dull brown colors flash, making it look like the morpho is 
                appearing and disappearing. The males’ wings are broader than those of the females and appear
                to be brighter in color. Blue morphos, like other butterflies, also have two clubbed antennas,
                two fore wings and two hind wings, six legs and three body segments—the head, thorax and 
                abdomen.
            </p>
        </div>
    </div> --}}
    </main>

</body>
</html>