<div id="loginPage_background">
  <link rel="stylesheet" href="loginForm.css" />
  <div id="login_formWrapper">
    <form id="login_form">
      <h2>Login Here!</h2>
      <input type="text" maxlength="64" id="login_usernameInput" placeholder="Username / Email" />
      <input type="password" maxlength="64" id="login_passwordInput" placeholder="Password" />
      <p id="login_error"></p>
      <a id="login_registerLink" href="/register">Don't have an account yet? Register here</a>
      <button type="submit" id="login_submitBtn">Submit</button>
    </form>
  </div>

  <script src="checkIfEmail.js"></script>
  <script src="login.js"></script>
</div>
