<link rel="stylesheet" href="/region.css">
<div id="region-container">
    <div id="region-info">
        <h1>{{data.name}}</h1>
        <p>{{data.description}}</p>
    </div>
    <div id="select-container">
        <ul>
            <li class="select-li">Buterfly 1<img class="select-img" src="/african moth4.jpeg"></li>
            <li class="select-li">Buterfly 1<img class="select-img" src="/african moth4.jpeg"></li>
        </ul>
    </div>
</div>
