<link rel="stylesheet" href="/region.css">
<div id="region-container">
    <div id="region-info">
        <h1>{{data.name}}</h1>
        <p>{{data.description}}</p>
    </div>
    <div id="select-container">
    </div>
</div>
