body{
    font-family: Arial, Helvetica, sans-serif;
}
.pic-and-des {
    height: 80vh;
    margin: 0;
    padding-left: 10%;
    padding-right: 10%;
    box-sizing: border-box;
    display: flex;
}
.left-panel {
    flex: 3; 
    display: flex;
    background-color: rgb(255, 255, 255);
    padding-top:2vh;
    justify-content: center;    
}
.mid-panel {
    height: 100%;
    flex: 3; 
    background-color: rgb(255, 255, 255);
    padding: 0 10%;
    padding-top: 2vh;
    border-right: 2px solid black
}
.mid-panel p{
    height: 100%;
    font-size: 2vh;
}
.right-panel {
    flex: 1; 
    background-color: rgb(255, 255, 255);
    padding-top:2vh;
    padding-left: 1vw;
}

.border {
    border: solid black 2px;
}
.tile-img {
    max-height: 300px;
    max-width: 300px;
    border-radius: 10px;
}

.right-panel p{
    font-size: 2vh;
    font-family: Arial, sans-serif;
} 

.h3-title{
    font-size: 3vh;
    border-bottom: 2px rgb(216, 131, 20) solid;
}
