body {
    font-family: Arial, Helvetica, sans-serif;
}

.pic-and-des {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
}

.left-panel {
    flex: 6;
    /* Takes up 2/3 of the available space */
    background-color: rgb(255, 255, 255);
    padding: 0px 5px;
    border-right: 2px solid black;
    flex-direction: column;
    margin-left: -7%;
}

.mid-panel {
    flex: 6;
    /* Takes up 1/3 of the available space */
    display: flex;
    background-color: rgb(255, 255, 255);
    padding: 40px;
    /* border-right: 2px solid black; */
    justify-content: center;
    max-height: 300px;
    flex-direction: column;
    margin-top: 3%;

}

.right-panel {
    flex: 2;
    /* Takes up 1/3 of the available space */
    background-color: rgb(255, 255, 255);
    padding: 0px 20px;
    margin-top: 3%;
}


.site-header {
    /* border: solid black 2px; */
    background-color: rgb(156, 157, 158);
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* Center vertically */
}

.site-header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* Center vertically */
    width: 100%;
    /* Ensure the inner container takes full width */
}

.site-logo img {
    width: 100%;
    /* Make the image fill the available width */
    max-height: 80px;
    /* Adjust the height as needed */
    margin-right: 10px;
    /* Add spacing between logo and menu */
    padding: 10px 0px;
}

.contained {
    padding-left: 60px;
    padding-right: 60px;
}

.border {
    border: solid black 2px;
}

nav {
    display: flex;
}

nav h2 {
    margin: 10;
    /* Remove default margin for better alignment */
    color: rgb(94, 94, 94);
    padding: 0px 10px;
}

.tile-img, .tile-img2, .tile-img3 {
    border-radius: 10px;
    height: 200px;
    width: 300px;
    box-shadow: -7px 8px 7px 0px black;
}

.tile-img2, .tile-img3 {
    margin-top: 3%;
}
.title {
    display: flex;
    /* justify-content: center; */
    padding: 0px 40px;
    font-size: 29px;
    font-family: Arial, sans-serif;
}

.right-panel p {
    font-size: 16px;
    font-family: Arial, sans-serif;
}

.background-img {
    display: flex;
    max-height: 100px;
    width: 100%;
    height: 300px;
    background-position: right 0;
}

.h3-title {
    border-bottom: 2px rgb(216, 131, 20) solid;
}

#comment {
    padding: 15px 10px;
    margin-top: 20px;
    border-radius: 20px;
    height: 150px;
    width: 300px;
    box-shadow: -7px 8px 7px 0px black;
    margin-bottom: 20px;
    
}

 
@media only screen and (min-width: 480px) and (max-width: 768px) {
    .pic-and-des {
        flex-direction: column;
    }

    .left_panel,
    .mid-panel,
    .right.panel {
        flex: 1;
        padding: 20px;
    }

    .right-panel {
        border-top: 2px solid black;
    }

    #comment {
        margin-top: 20px;
        /*adjust margin as needed */
    }

}