.region-btn {
  
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: max-content;
    font-size: 2.8vh;
    border: solid rgb(255, 255, 255) 0.3vh;
    border-radius: 5px;
    position: absolute;
    transform: translate(-50%, -50%);
    box-shadow: -7px 8px 7px 0px rgb(0, 0, 0);
    z-index:2;
    font-size: clamp(12px, 2vw, 24px);
}

.region-btn a {
  /* Ensure anchor tags are above buttons */
  z-index: 2;
  /* Allow click actions on anchor tags */
  pointer-events: auto;
}


#map-container {
  /* height: 88vh;
  display: flex;
  position: absolute; 
  top: 0;
  left: 0; */
  z-index: 2; /*
  justify-content: center;
  background-color: whitesmoke;*/
  overflow: hidden; 
  height: 80vh;
  width: auto;
  margin: 0 auto; /* Center the container horizontally */
  position: relative; 
  border-right: solid black 2px;
  border-left: solid black 2px;
}
.map-image {
  height: 100%;
  width: 100%;
  /* border: solid red 30px;
  position: relative;
  width: 100vw;/*
  object-fit: contain;
  position: absolute; 
  top: -25%; 
  left: 50%; 
  transform: translateX(-50%); */
  /* width: 100vw; */
  /* z-index: -2; */
  transform: scale(1.2);
  object-fit: contain;
/*   top: -40%;  */
  /* left: 50%;  */
/*   transform: translateX(-50%); 
  width: 100vw;
  transform: scale(1.2); */
}

#africa {
    top: 53%;
    left: 55%;
    background-color:rgba(38, 90, 247, 0.67);
}

#central {
    top: 40%;
    left: 22%;
    background-color:rgba(38, 90, 247, 0.67);
}


#page-title {
  position: relative;
}

#south-america {
    top: 60%;
    left: 28%;
    background-color:rgba(38, 90, 247, 0.67);
}

#asia {
    top: 33%;
    left: 78%;
    background-color:rgba(38, 90, 247, 0.67);
}

#guinea {
    top: 60%;
    left: 87%;
    background-color:rgba(38, 90, 247, 0.67);
}

#se-asia {
    top: 45%;
    left: 80%;
    background-color:rgba(38, 90, 247, 0.67);
}

a {
    color: white;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: bisque;
}

#page-title {
  font-size: 2.5vw;
}
