.navbar_linkBtn > a {
  all: unset;
  color: white;
  text-decoration: none;
  font-size: 1em;
  transition: 0.2s all ease-in-out;
  text-transform: uppercase;
  text-decoration-line: none;
}

.navbar_linkBtn > a:hover {
  color: var(--navbarBtnHoverColor);
  cursor: pointer;
}

#navbar_wrapper {
  width: 100vw;
  height: var(--navbarHeight);
  background-color: var(--navbarBackground);
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#navbar_wrapper > h1 > a {
  color: white;
}

#navbar_link_wrap {
  display: flex;
  gap: 2em;
  align-items: center;
  margin-right: 2em;
  margin-left: auto;
}

.site-logo {
  height: 80%;
  margin: 3vw;
}

.site-logo img {
  height: 100%; /* Make the image fill the available width */
  width: auto; /* Adjust the height as needed */
  margin-left: 1vw; /* Add spacing between logo and menu */
  padding-block: 20px;
  filter: brightness(0) invert(1);
}

h1 {
  text-align: center;
  font-size: calc(14px + 1.5vw);
  user-select: none;
}

h2 {
  font-size: calc(14px + 1.2vw);
}

@media (max-width: 800px) {
  #navbar_wrapper > h1 > a {
    visibility: hidden;
  }

  #navbar_wrapper > h1 {
    width: 0;
  }
}

/* @media only screen and (min-width: 480px) and (max-width: 768px) {
} */
